.btn {
    max-width: 150px;
    width: 100%;
    background: var(--primary-color);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: var(--radius-4);
    padding: 8px 0;
}