.category {

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 255px));
        gap: 30px;
        justify-content: space-between;
        margin-top: 30px;
    }
}