.favourite {

    &__title {
        font-size: 36px;
        text-align: center;
    }

    &__cards {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
        gap: 30px;
    }
}