* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

button, input, textarea {
    background: transparent;
    border: none;
    outline: none;
}

body {
    background: #ccc;
}

section {
    padding-top: 60px;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.notFound-title {
    font-size: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}